<!DOCTYPE html>
<html>
<head>
  <title>ExampleGoogleSigninWithRails</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <meta name="google-signin-client_id" content="<%= google_signin_client_id %>">

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <script src="https://apis.google.com/js/platform.js?onload=init" async defer></script>
</head>

<body>
<div class="google-signin-button" style="display: none;">
  <div class="g-signin2" data-onsuccess="onSignIn"></div>
</div>
<div class="signout-button" style="display: none;">
  <a href="javascript:signOut()">ログアウト</a>
</div>
<script>
  //noinspection JSUnusedLocalSymbols called by google api
  function onSignIn(googleUser) {
    //console.log(googleUser.getBasicProfile());
    //console.log(googleUser.getAuthResponse());
    const id_token = googleUser.getAuthResponse().id_token;
    const xhr = new XMLHttpRequest();
    xhr.open('POST', 'http://localhost:3000/tokensignin');
    let crsfToken = document.querySelector('head>meta[name=csrf-token]').getAttribute('content');
    xhr.setRequestHeader('X-CSRF-Token', crsfToken);
    xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
    xhr.onload = function() {
      console.log('Signed in as: ' + xhr.responseText);
    };
    xhr.send('id_token=' + id_token);
  }
  //noinspection JSUnusedLocalSymbols called by google api
  function signOut() {
    const auth2 = gapi.auth2.getAuthInstance();
    auth2.signOut().then(function () {
      console.log('User signed out.');
    });
  }
  //noinspection JSUnusedLocalSymbols called by google api
  function init() {
    const googleSignInButton = document.querySelector(".google-signin-button");
    const signOutButton = document.querySelector(".signout-button");

    gapi.load('auth2', function() {
      toggleSignInOut(gapi.auth2.getAuthInstance().isSignedIn.get());
      gapi.auth2.getAuthInstance().isSignedIn.listen(function (isSignedIn) {
        toggleSignInOut(isSignedIn)
      })
    });

    function toggleSignInOut(isSignedIn) {
      googleSignInButton.style.display = isSignedIn ? 'none' : '';
      signOutButton.style.display = isSignedIn ? '' : 'none';
    }
  }
</script>
</body>
</html>
