<!DOCTYPE html>
<html>
<head>
  <title>ExampleGoogleSigninWithRails</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <meta name="google-signin-client_id" content="<%= google_signin_client_id %>">

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <script src="https://apis.google.com/js/platform.js" async defer></script>
</head>

<body>
<div>
  ↓↓↓ Google Login Button
</div>
<div>
  <div class="g-signin2" data-onsuccess="onSignIn"></div>
</div>
<div>
  ↑↑↑ Google Login Button
</div>
<script>
  function onSignIn(googleUser) {
    var profile = googleUser.getBasicProfile();
    console.log('ID: ' + profile.getId()); // Do not send to your backend! Use an ID token instead.
    console.log('Name: ' + profile.getName());
    console.log('Image URL: ' + profile.getImageUrl());
    console.log('Email: ' + profile.getEmail()); // This is null if the 'email' scope is not present.

    var xhr = new XMLHttpRequest();
    xhr.open('POST', 'https://localhost:3000/tokensignin');
    xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
    xhr.onload = function() {
      console.log('Signed in as: ' + xhr.responseText);
    };
    xhr.send('idtoken=' + id_token);
  }
  function signOut() {
    var auth2 = gapi.auth2.getAuthInstance();
    auth2.signOut().then(function () {
      console.log('User signed out.');
    });
  }
</script>
</body>
</html>