<!DOCTYPE html>
<html>
<head>
  <title>ExampleGoogleSigninWithRails</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <meta name="google-signin-client_id" content="<%= google_signin_client_id %>">

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <script src="https://apis.google.com/js/platform.js" async defer></script>
</head>

<body>
<div>
  ↓↓↓ Google Login Button
</div>
<div>
  <div class="g-signin2" data-onsuccess="onSignIn"></div>
</div>
<div>
  ↑↑↑ Google Login Button
</div>
</body>
</html>